# Langflow API 服务
# Langflow API service
LANGFLOW_BACKEND_ONLY=True
LANGFLOW_HOST=0.0.0.0
LANGFLOW_DATABASE_URL=${{Postgres.DATABASE_URL}}
LANGFLOW_ALEMBIC_LOG_TO_STDOUT=True
LANGFLOW_AUTO_LOGIN=False
LANGFLOW_SUPERUSER=admin
LANGFLOW_SUPERUSER_PASSWORD=
LANGFLOW_SECRET_KEY=
LANGFLOW_CACHE_TYPE=redis
LANGFLOW_REDIS_URL=${{Redis.REDIS_URL}}

# Langflow 前端服务
# Langflow frontend service
BACKEND_URL=http://${{langflow-api.RAILWAY_PRIVATE_DOMAIN}}:${{langflow-api.PORT}}
